<router-outlet>



</router-outlet>
<div class="container">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
            
            
            

                
                    <a class="navbar-brand" routerLink="/login">login </a>
                
            
                    <a class="navbar-brand" routerLink="/signup">Signup</a>
                
                
                    <a class="navbar-brand" routerLink="/showusers">users</a>
                


            
        

    <router-outlet></router-outlet>
</div>